
@{
    ViewData["Title"] = "MovieMove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row welcome text-center">
        <div class="col-12">
            <h5 class="display-4">DANH SÁCH PHIM HÀNH ĐỘNG</h5>
        </div>
    </div>
</div>
<div class="row">
    <article class="col-sm-9">
        <div class="row">
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/images/img/phimhd1.jpg">
                    </div>
                    <div class="panel-footer">
                        <h4>Tòa Tháp Chọc Trời</h4>
                        <button type="button" class="btn btn-primary btn-lg">TRAILER</button>
                        <button type="button" class="btn btn-primary btn-lg">XEM PHIM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/images/img/phimhd2.jpg">
                    </div>
                    <div class="panel-footer">
                        <h4>Bảy Rồng</h4>
                        <button type="button" class="btn btn-primary btn-lg">TRAILER</button>
                        <button type="button" class="btn btn-primary btn-lg">XEM PHIM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/images/img/phimhd3.jpg">
                    </div>
                    <div class="panel-footer">
                        <h4>Aladdin</h4>
                        <button type="button" class="btn btn-primary btn-lg">TRAILER</button>
                        <button type="button" class="btn btn-primary btn-lg">XEM PHIM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/images/img/phimhd4.jpg">
                    </div>
                    <div class="panel-footer">
                        <h4>Chí Phèo Ngoại Tuyện</h4>
                        <button type="button" class="btn btn-primary btn-lg">TRAILER</button>
                        <button type="button" class="btn btn-primary btn-lg">XEM PHIM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/images/img/phimhd5.jpg">
                    </div>
                    <div class="panel-footer">
                        <h4>Avengers: End Game</h4>
                        <button type="button" class="btn btn-primary btn-lg">TRAILER</button>
                        <button type="button" class="btn btn-primary btn-lg">XEM PHIM</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 poly-prod">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="~/images/img/phimhd6.jpg">
                    </div>
                    <div class="panel-footer">
                        <h4>Tía Tui Là Cao Thủ</h4>
                        <button type="button" class="btn btn-primary btn-lg">TRAILER</button>
                        <button type="button" class="btn btn-primary btn-lg">XEM PHIM</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <aside class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list"></span>
                <strong>Danh Sách Phim Xem Nhiều</strong>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">Quá nhanh quá nguy hiểm</a>
                <a href="#" class="list-group-item">Sát thủ vô danh</a>
                <a href="#" class="list-group-item">supper hero</a>
                <a href="#" class="list-group-item">Người lạ đến từ địa ngục</a>
            </div>
        </div>
    </aside>
</div>
<hr>


